NODE_ENV=development

# PostgreSQL
DATABASE_HOST=<your-database-host>
DATABASE_PORT=5432
DATABASE_USERNAME=<your-database-username>
DATABASE_PASSWORD=<your-database-password>
DATABASE_NAME=movie_tracker

# JWT
JWT_SECRET=89e0f2842ecc96d4381646519130277880a369e510287c21b1d1fe02575bc932
JWT_EXPIRES_IN=1d

# Elasticsearch
ELASTICSEARCH_NODE=http://elasticsearch:9200

# MinIO
MINIO_ENDPOINT=http://minio:9000
MINIO_PUBLIC_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=admin-movie-tracker
MINIO_BUCKET=poster-images