NODE_ENV=development

# PostgreSQL
DATABASE_HOST=<your-database-host>
DATABASE_PORT=5432
DATABASE_USERNAME=<your-database-username>
DATABASE_PASSWORD=<your-database-password>
DATABASE_NAME=movie_tracker

# JWT
JWT_SECRET=89e0f2842ecc96d4381646519130277880a369e510287c21b1d1fe02575bc932
JWT_EXPIRES_IN=1d
REFRESH_TOKEN_EXPIRES_IN_DAYS=30
FRONTEND_URL=http://localhost:5173

# Email
SMTP_HOST=localhost
SMTP_PORT=1025
EMAIL_FROM=Movie Tracker <no-reply@movie-tracker.local>

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@localhost:5672
RABBITMQ_RELEASE_EMAIL_QUEUE=media-release-emails

# Elasticsearch
ELASTICSEARCH_NODE=http://elasticsearch:9200

# MinIO
MINIO_ENDPOINT=http://minio:9000
MINIO_PUBLIC_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=admin-movie-tracker
MINIO_BUCKET=poster-images
